.tabicon{
    /* line-height: 86px; */
    margin-left: 4px;
    height: 64px;
}

.tabicon img{
    width: 24px;
    height: 24px;
    line-height: 64px;
    padding: 8px;
    padding-left: 10px;
    margin-top: 12px;
}

.tabicon img:hover{
    background-color: #eee;
    border-radius: 50%;

}
