.explore{

    height: 40px;
    line-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 12px;
}

.explore:hover{

    background-color: #eee;
    color: #333;
    border-radius: 35px;
}
