.pininput{

        line-height: 64px;
        margin-left: 20px;
         
}

.pininput .ant-input {
    /* background-color: blue;   */
    width: 853px;
    height: 40px;
    background-color: #eee;
    line-height: 64px;
    color: #333;
    font-size: 16px;
    font-weight: 600;

}

.pininput .ant-input:focus {
    box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5);
    outline: 0;
}
